target
.vscode/
Idea.md
.env*
dist
node_modules
.next
/out/
gen
/build
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts
frontend/main
.idea
.env.*
!.env.example
!.env.hosts.example
.cdn
db.cdn_filenames.redb