localhost:6996 {
	root * ./.cdn
	header           Cache-Control pubic,max-age=31536000,stale-while-revalidate=86400

	route /v1/* {
		uri strip_prefix /v1
	}

	file_server {
		precompressed gzip
	}
}
