@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#shell-header {
    position: fixed;
    left: 0;
    right: 0;
}

#page {
    margin-top: 64px;
}

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}